<div class="menu_list">
  <p class="title">热门菜单</p>
  <div class="single_menu">
    <div class="cover_pic">
      <a routerLink="/menu-gather/2" routerLinkActive="active">
      <img src="http://owigmgx25.bkt.clouddn.com/cover_pic%E9%BE%99%E4%BA%95%E8%99%BE%E4%BB%81.jpg"/>
      </a>
    </div>
    <div class="menu_name"><a href="">生活就是无肉不欢</a></div>
  </div>
</div>


<div class="search_user">
  <p class="title">受欢迎的厨师</p>
  <div class="user_list">
    <div class="headpic">
      <img src="../../../assets/images/headpic.jpg"/>
    </div>
    <div class="user_info">
      <a  routerLink="/personal-centerOther2/7/my-menu" routerLinkActive="active" class="user_nickname">叫我甜甜君</a>
      <p class="amount_of_attention">100个关注</p>
      <p class="amount_of_recipe">50个菜谱 34个作品</p>
    </div>
  </div>
</div>
