<div class="mycontainer">
<div class="hot-topic">
  <div class="hot-nav">
    <div><a  routerLink="./hot-list-menu" routerLinkActive="active">热门推荐</a></div>
    <div><a routerLink='./hot-menu' routerLinkActive="active">热门菜谱</a></div>
    <div><a routerLink="./hot-menu-gather" routerLinkActive="active">热门菜单</a></div>
    <div><a routerLink="./new-menu" routerLinkActive="active">最新菜谱</a></div>
    <div><a routerLink="./new-menu-gather" routerLinkActive="active">最新菜单</a></div>
  </div>
  <div class="second">
    <!--占位-->
    <router-outlet></router-outlet>
  </div>
  <div class="third">
    <app-menu-fashion ></app-menu-fashion>
  </div>

</div>
</div>>

